.app {
  text-align: center;
  border: 2px solid black;
  width: 90%;
  background-color: lightgray;
  display: flex;

  flex-direction: column;
}

.ads {
  background-color: purple;
  height: 80px;
  width: 60%;
}

.navs {
  background-color: lightblue;
  width: 20%;
  border: 2px solid black;
  height: 400px;
  margin: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-style {
  background-color: greenyellow;
  color: red;
}

.App-link {
  color: #61dafb;
}

.body {
  display: flex;
  margin: 20px;
}

.subs {
  width: 100px;
  border: 2px solid black;
  background-color: yellow;
  height: 330px;
}

.main-part {
  background-color: red;
  width: 65%;
  border: 2px dotted black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}